c A comment line starts with "c"

c The problem line is: "p" "cnf" $numVars $numClauses
p cnf 2 3

c Weight format: CACHET
c A weight line is: "w" $var $weight
c Either 0 <= $weight <= 1, or $weight = -1
c $weight = 0.5 by default

c A weight line specifying weight(x1) = 0.3 and weight(-x1) = 1 - weight(x1)
w 1 0.3

c A weight line specifying weight(x2) = weight(-x2) = 1
w 2 -1

c A clause line contains literals and ends with "0"

c A clause line with positive literal x1
1 0

c A clause line with negative literal -x2
-2 0

c A clause line with disjunction x1 \/ -x2
1 -2 0
