c A comment line starts with "c"

c The problem line is: "p" "cnf" $numVars $numClauses
p cnf 2 3

c Weight format: UNWEIGHTED
c All literals have weight 1

c A clause line contains literals and ends with "0"

c A clause line with positive literal x1
1 0

c A clause line with negative literal -x2
-2 0

c A clause line with disjunction x1 \/ -x2
1 -2 0
